[submodule "libultraship"]
	path = libultraship
	url = https://github.com/chrissotraidis/libultraship.git
	branch = codex/harkinianpad-ios
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/chrissotraidis/ZAPDTR.git
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
